@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Mukta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background-image: linear-gradient( 135deg, #FFCF71 10%, #2376DD 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;

}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Mukta', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    font-size: 54px;
    color: #FFF2E7;

}

.conteudo-principal-subtitulo {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;   
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

 .conteudo-principal-escrito-botao {
     background-color: #ECD6C4;
     width: 180px;
     height: 40px;
     border: none;
     box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
     border-radius: 20px;
     font-family: 'Mukta', sans-serif;
     font-weight: 400;
     font-size: 24px ;
     color: #2F2325;

 }

 .conteudo-principal-imagem{
     height: 430px;
 }

 .conteudo-secundario{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 24px;
     margin-top: 48px;
 }

 .conteudo-secundario-titulo {
     border-top: 0.4px solid #FFF2E7;
     padding-top: 48px;
     font-family: 'Alfa Slab One', cursive;
    font-weight: 300;
    font-size: 44px;
    color: #FFF2E7;
    margin-bottom: 16px;
 }

 .conteudo-paragrafo{
    font-family: 'Mukta', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #ECD6C4;   
     
 }

 .rodape{
     padding: 32px;
     border-top: 0.4px solid #FFF2E7;

 }

 .rodape-imagem{
     display: block;
     height: 108px;
     margin: 0 auto;
 }
